h2 > kotodo.txt
p.date 20_may_2020

p In the neverending pursuit of increased productivity, I always seek out new tools and services that align with my laziness. #[a(href="https://github.com/ultralist/ultralist") Ultralist] stands out as a favorite of mine, but ultralist treats todolists like sqlite3 databases, writing json files locally. Nevertheless, an ultralist file, stored in version control, has kept my projects structured and absent of "whatnext" syndrome.

p Since todolists live near my heart, a personal todolist API would serve both as an ultralist replacement (with a CLI tool in the works) and aggregator of my many lists floating on my local #[a(href="https://github.com/go-gitea/gitea") git] server. While the API was born using #[a(href="https://github.com/restify/node-restify") restify], project needs drove the API to pure #[a(href="https://expressjs.com") Express.js]. While in very early alpha, the project served as a great diving board into the ocean of web development. #[a(href="//glitch.com/edit/#!/kotodo") (source)]
