h2 > min.txt
p.date 07_sep_2020

p I'm a huge fan of minimalism in today's webtech, especially when it reduces bundle sizes. I banish buttons and info bars in lieu of hotkeys and tiling window managers (<3 i3). Browsers have been my bane, until now.

p #[a(href="https://minbrowser.org") Min] is an open-source browser build in #[a(href="https://www.electronjs.org") Electron]. Having a full browser just to power a single-page webapp is, in my opinion, usually excessive, despite Electron's conveniences. However, it cleverly makes a great environment for building a new browser, using the same stack (HTML/CSS/JS) that the pages themselves render upon request.

p The #[a(href="https://github.com/minbrowser/min") source code] is published under the Apache open source license. I'm currently maintaining Min with the rest of the collabs on github, and I also host the most up-to-date #[a(href="https://github.com/kodumbeats/min-archlinux") build scripts] for arch linux - I'm currently driving #[a(href="https://manjaro.org") manjaro] every day.
