h2 > nuxt.txt
p.date 11_sep_2020

p The discovery of #[a(href="//vuejs.org") Vue.js] marked the beginning of my journey through frontend development. I could build websites using a file structure that made sense: a template section for HTML, script section for JS, and style for CSS. Though, as a lazy developer, I cringed at the repetition of typing the same component name in multiple places, in multiple files (read: multiple bugs). 

p Displeased, I searched for a more elegant solution and discovered #[a(href="//nuxtjs.org") Nuxt.js]. Automatic routing, file-level component imports, and static-site generation was more than enough for me to jump ship and explore. <code>micro pages/newpage.vue</code><sup>1</sup> becomes <code>http://localhost:3000/newpage</code> automagically. Aww yiss.

p With relative ease, I was able to fully recreate #[a(href="//github.com/kodumbeats/blog") this blog] without Express.js or any server-side logic. Banished to the annals of history are the days of frontend-phobia. Welcome are the days of new, exciting adventure. But I could take less frequent CSS debugging sessions.

p Coming soon: I actually create a CMS for these posts.

p.footnote <sup>1</sup> #[a(href="//micro-editor.github.io/") micro] is a default install on every one of my machines. Imagine nano, but with sensible keybindings and mouse support. :swoon:
